*{
    box-sizing: border-box;
    margin: 20px;
    scroll-behavior: smooth;
}
    :root {
    --primary-color: #0e1e30;
    --secondary-color: #0f3029;
    --background-color: #061122;
    --text-color: #f5f7fa;
    --link-color: #58acff;
    --font-size: 16px;
    --content-padding: 0 calc((100% - 1440px) / 2);
    
    }
    body{
        background-color: var(--background-color);
    }
h1{
  
    height: 100px;
    text-align: center;
    font-size: 48px;
    color:#f5f7fa;

}

section{
    color:#f5f7fa;
     padding: 20px;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.9em;
    margin-bottom: 0;
     font-size: 32px;
}
body div{
    display: flex;
    justify-content:center ;
    align-items:center;

    height: 100px;
}